<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragment/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
  <title>PLAN</title>
<body>
<!-- Main Contents -->
<section class="w3-center w3-container" >
	<b class="w3-center w3-xxlarge w3-sans-serif">Plan</b>
	<p class="w3-center w3-sans-serif">여행계획</p><hr><br>
	
	<div th:if="${session.loginUser != null}" class="w3-container">
		<a th:href="@{/community/plan/write/first}">
			<button class="w3-right w3-btn w3-round-large w3-dark-grey">작성하기</button>
		</a>
	</div>

	<br>
	<div class="w3-row w3-padding w3-border w3-round-xlarge w3-indigo">
		<div class="w3-col s5 w3-border-right">제목</div>
		<div class="w3-col s4 w3-border-right">여행일정</div>
		<div class="w3-col s1 w3-border-right">작성자</div>
		<div class="w3-col s2">작성일</div>
	</div>

	<div th:if="${planList.size() == 0}">
		글이 존재하지 않습니다.
	</div>

	<div th:each="plan : ${planList}" class="w3-row w3-padding w3-border-bottom">
		<a class="w3-col s5" th:text="${plan.subject}" th:href="@{'/community/plan/detail/' + ${plan.seq}}"></a>
		<div class="w3-col s4" >
			<div class="w3-tag w3-teal" th:text="${#strings.replace(plan.period.start, 'T', ' ')} + ' ~ '"></div>
			<div class=""  th:text="${#strings.replace(plan.period.end, 'T', ' ')}"></div>
		</div>
		<div class="w3-col s1" th:text="${plan.user.userNickname}"></div>
		<div class="w3-col s2 w3-small" th:text="${#strings.replace(plan.regdate, 'T', ' ')}"></div>
	</div>

	<div th:replace="/fragment/paging :: page_list(@{/community/plan}, ${pagingDTO}) "></div>

</section>

</body>
</html>