<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>

<!-- Sidebar -->
<div th:insert="~{/layout/layout :: sidebar}"></div>
<!-- Sidebar END -->

<!-- Main Contents -->
<div class="main w3-padding">
    <div class="w3-row w3-margin">
        <div class="w3-col s6">
            <h5>여행 계획</h5>
            <div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
            </div>
        </div>
        <div class="w3-col s6">
            <h5>여행 정보</h5>
            <div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
            </div>
        </div>
    </div>

    <div class="w3-row w3-margin">
        <div class="w3-col s6">
            <h5>홍보</h5>
            <div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
            </div>
        </div>
        <div class="w3-col s6">
            <h5>매거진</h5>
            <div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
                <div>제목 1</div>
            </div>
        </div>
    </div>
</div>
<!-- Main Contents END -->

<!-- Footer -->
<footer th:insert="~{/layout/layout :: footer}"></footer>
<!-- Footer END -->

</body>
</html>