<!DOCTYPE html>
<html
	th:replace="~{/fragment/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
<title>MAGAZINE</title>
<body>
	<!-- Main Contents -->
	<section class="w3-center w3-container">
	<style>
			#c{
				overflow: hidden;
				display: flex;
				align-items:center;
				justify-content:center;
				width:100%;
				height:150px;
			}
			.imgs{
				filter:brightness(60%);
			}
			#subject{
				font-size: 50px;
				font-weight: bold;
				color: white;
				width:100%;
			}
			#text{
				color:white;
			}
	</style>
		<b class="w3-center w3-xxlarge w3-sans-serif">Info</b>
		<p class="w3-center w3-sans-serif">상세글보기</p>
		<hr><br>
		
		<div th:object="${info}">
			<span id="c" class="w3-display-container w3-card w3-round-large">
				<img src="/imgs/mainbar.jpg" width="100%" class="imgs"/>
				<div class="w3-padding w3-display-middle w3-xxlarge w3-sans-serif"
							th:text="${info.infoSubject}" id="subject"></div>
				<div class="w3-padding w3-display-bottomright" id="text"
							th:text="'조회수 : ' + ${info.infoHits}" ></div>
				<div class="w3-padding w3-display-bottomleft" id="text" th:text="'작성ID : '+${info.user.userId}"></div>
				<div class="w3-padding w3-display-topright" id="text" th:text="'작성시각 : ' + ${#strings.replace(info.infoRegdate,'T',' ')}"></div>
			</span>
		</div>
		<div class="w3-row">
			<div class="w3-col s3 w3-border">
				<div class="w3-margin" style="height:400px">
					구글맵 API
				</div>
				<hr>
				<div class="w3-margin" style="height:400px; text-align:left">
					<font style="color:grey">장소명</font><br>
					<b th:text="${info.area.name}" class="w3-xxlarge"></b><br><br> 
					<font style="color:grey">주소</font><br>
					<b th:text="${info.area.address}" class="w3-xlarge"></b><br><br>
					<font style="color:grey">이 장소에 대한 점수</font><br>
					<b th:text="${info.area.rating}" class="w3-xxlarge" style="color:red"></b><br><br>
					<font style="color:grey">소요비용</font><br>
					<b th:text="${#numbers.formatInteger(info.area.budget, 0, 'COMMA')}+' 원'" class="w3-xxlarge"></b><br>
				
				</div>
			</div>
			<div class="w3-col s9 w3-border">
				<div class="w3-margin" th:utext="${info.infoContent}" style="min-height: 840px; text-align: left">
					
				</div>
				<input type="hidden" id="rating" th:value="${info.area.rating}">
				<input type="hidden" id="areaName" th:value="${info.area.name}">
				<input type="hidden" id="areaAddress" th:value="${info.area.address}">
				<input type="hidden" id="areaLat" th:value="${info.area.lat}">
				<input type="hidden" id="areaLng" th:value="${info.area.lng}">
			</div>
		</div>
		<br><br><br>
		<hr>
		<div class="w3-left w3-button">
			목록
		</div>
		<div class="w3-right w3-button">
			신고
		</div>
		<!-- <div class="w3-right" th:each="infoRecommend : ${infoRecommend}">-->
			<button th:if="${session.loginUser!=null} and ${isRecommend==false}" class="w3-button w3-blue w3-round-xlarge" 
				th:onclick="'recommend('+${info.user.userSeq}+','+${info.infoSeq}+','+${session.loginUser.userSeq}+',2)'">
				
					<p th:text="'추천 '+${infoRecommendCount}"></p>
				
			</button>
								
			<button th:if="${session.loginUser!=null} and ${isRecommend==true}" class="w3-button w3-red w3-round-xlarge" 
				th:onclick="'recommend('+${info.user.userSeq}+','+${info.infoSeq}+','+${session.loginUser.userSeq}+',2)'">
					<p th:text="'추천 '+${infoRecommendCount}"></p>
			</button>
		<!-- </div>-->
		<div class="w3-right w3-button">
			★
		</div>
		<!-- 댓글입력 -->
		<!-- 버튼 -->
			<div class="w3-container">
				<a href="/community/info">
					<div class="w3-left w3-button w3-dark-grey w3-round-xlarge" th:text="목록" style="width:100px;"/>
				</a>
				<div class="w3-right w3-button w3-dark-grey w3-round-xlarge">★</div>
				<div class="w3-right w3-button w3-yellow w3-round-xlarge" th:text="신고" />
			</div>
			<br>
			<div class="w3-container w3-center" th:if="${session.loginUser != null}"  style="text-decoration: none;">
				<div
					th:if="${session.loginUser.userId == info.user.userId} or ${session.loginUser.userId=='admin'}">
					<form name="f" method="post">
						<input type="hidden" name="infoSeq" th:value="${info.infoSeq}">	
						<button type="button" onclick="deleteInfo()" class="w3-button w3-blue w3-round-xlarge">글삭제</button>
						<a th:href="@{'updateInfo?infoSeq='+${info.infoSeq}+'&type=2'}">
							<button type="button" class="w3-button w3-dark-grey w3-round-xlarge">글수정</button>
						</a>
					</form>
					<script th:inline="javascript">
						function deleteInfo(){
							form = document.f;
							if(confirm('삭제하시겠습니까?')==true){
								f.action = "deleteInfo";
								f.submit();
							}else{
								return;
							}
						}
						function updateBoard(){
							form = document.f;
							if(confirm('수정하시겠습니까?')==true){
								f.action="updateBoard";
								f.submit();
							}else{
								return;
							}
						}
					</script>
				</div>
				<br>
				<br>
				<!-- 댓글달기 -->
				<div>
					<script th:inline="javascript">
						
						function inputChk(){
							form = document.getElementById('comment');
							if(form.content.value==''||form.content.value.trim()==''){
								alert("댓글 내용을 입력하세요")
								form.content.value='';
								form.content.focus();
								return false;	
							}
							return true;
						}
					</script>
					<!-- 댓글 폼 -->
					<form id="comment" onsubmit="return inputChk()" action="comment" th:object="${commentFormDTO}" method="post">
						<input type="hidden" name="id" th:value="${session.loginUser.userId}"> 
						<input type="hidden" name="boardSeq" th:value="${info.infoSeq}">
						<input type="hidden" name="boardType" value="2">
						<div class="w3-card w3-left" style="width:10% ;height:100px;" th:text="${session.loginUser.userId}"></div>
						<div class="w3-left" style="width: 80%; text-align: left">
							<textarea class="w3-card" name="content" placeholder="댓글내용" style="width: 100%; height:100px; resize:none;border:none"></textarea>
						</div>
						<div class="w3-right" style="width:10%">
							<input type="submit" value="댓글작성" class="w3-button w3-blue w3-round-xlarge">
						</div>
					</form>
				</div>
			</div>
			<div class="w3-container w3-center" th:unless="${session.loginUser != null}"  style="text-decoration: none;">
				댓글은 로그인후 가능합니다.
			</div>
			<br>
			<br>
		
		<!-- 댓글목록 및 버튼 -->
		<div class="w3-container">
			<div style="width: 100%;" th:if="${commentList.size > 0}">
				<table style="width: 100%" class="w3-small w3-table-all">
					<tr>
						<th class="w3-large" colspan="3" style="text-align: center">댓글
							목록</th>
					</tr>
					
					<tr th:each="comment : ${commentListMap}">
								<td style="width: 10%; text-align: center"><span
									class="w3-panel w3-border-none" th:text="${comment.key.user.userId}"></span>
								</td>
								<td><span class="w3-panel w3-border-left" th:text="${comment.key.commentContent}" style="float: left; text-align: left; width: 95%"></span>
								<p class="w3-tiny w3-right" th:text="${#strings.replace(comment.key.commentRegdate,'T',' ')}"><p> 
									<span style="float: right; text-align: center; width: 5%" th:if="(${session.loginUser!=null} and ${comment.key.user.userId==session.loginUser.userId}) or (${session.loginUser!= null and session.loginUser.userId=='admin'})">
										<a th:href="@{'deleteComment?commentSeq='+${comment.key.commentSeq} + '&boardType=2&boardSeq=' + ${info.infoSeq}}">
										<img src="/imgs/icons/del_cmt.png"></a>
								</span></td>
						<!-- 추천/ 신고 -->
								<td style="width: 15%">
								<button th:if="${session.loginUser!=null} and ${!comment.value}" class="w3-button w3-blue w3-round-xlarge" 
									th:onclick="'recommend('+${comment.key.user.userSeq}+','+${comment.key.commentSeq}+','+${session.loginUser.userSeq}+',3)'">
									<b th:each="countRecommend : ${countCommentRecommend}">
										<p th:if="${comment.key.commentSeq==countRecommend.key.commentSeq}" th:text="'추천 '+${countRecommend.value}"></p>
									</b>
								</button>
								
								<button th:if="${session.loginUser!=null} and ${comment.value}" class="w3-button w3-red w3-round-xlarge" 
									th:onclick="'recommend('+${comment.key.user.userSeq}+','+${comment.key.commentSeq}+','+${session.loginUser.userSeq}+'3)'">
									<b th:each="countRecommend : ${countCommentRecommend}">
										<p th:if="${comment.key.commentSeq==countRecommend.key.commentSeq}" th:text="'추천 '+${countRecommend.value}"></p>
									</b>
								</button>
								
								<button th:unless="${session.loginUser!=null}" class="w3-button w3-blue w3-round-xlarge" 
									th:onclick="'loginAlert()'">
									<b th:each="countRecommend : ${countCommentRecommend}">
										<p th:if="${comment.key.commentSeq==countRecommend.key.commentSeq}" th:text="'추천 '+${countRecommend.value}"></p>
									</b>
								</button>
								
								/ 신고
							
								</td>
							</tr>
				</table>
			</div>
			<div style="width: 100%;" th:unless="${commentList.size > 0}">
				댓글이 없습니다.
				<br><br>
			</div>
		</div>
	<script th:inline="javascript">
		function recommend(contentUserSeq, contentSeq, userSeq, type){
			console.log(contentUserSeq)
			console.log(contentSeq)
			console.log(userSeq)
			console.log(type)
			if(contentUserSeq==userSeq){
				alert('본인 댓글 추천 불가');
				return false;			
			}
			
			$.ajax({
				type:"POST",
				url:"recommend",
				data:{"contentSeq":contentSeq, "userSeq":userSeq, "type":type},
				success: function(data){
							if(data==true){
								alert("추천 완료")
								location.reload();
								console.log(data)
							}else{
								alert("추천 취소")
								location.reload();
								console.log(data)
							}
						}
			})
			
		}
		function loginAlert(){
			alert("로그인하세요")
			location.href="/login";
		}
	</script>
	</section>

</body>
</html>