<!DOCTYPE html>
<html th:replace="~{/fragment/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
  <title>INFO</title>
  <style>
	  table{border:solid 1px black;}
	  a{text-decoration:none;}
	  .thumb{
	  	width:100%;
	  	height:100%;
	  	object-fit:cover;
	  	border:none;
	  }
  </style>
<body>
<!-- Main Contents -->
<section class="w3-center w3-container" >
	<b class="w3-center w3-xxlarge w3-sans-serif">Info</b>
	<p class="w3-center w3-sans-serif">여행정보</p><hr><br>
	
	<br>
	<div class="w3-container">
		<b class="w3-left">&lt;추천수 top 5 여행정보&gt;</b>
	</div>
	<div class="w3-container" style="justify-content: center; display: flex;">
	<div th:each="sortedInfo : ${infoRecommendCountSortedMap}" class="w3-col s2 w3-border w3-card w3-round-large" style="text-align: left; margin:10px; height:150px;">
		<a href="" th:href="@{'/community/infoPage?infoSeq='+${sortedInfo.key.infoSeq}}">
			<b class="w3-padding" th:if="${#strings.length(sortedInfo.key.area.name)<10}" th:text="${sortedInfo.key.area.name}" style="font-size:24px;" ></b>
			<b class="w3-padding" th:unless="${#strings.length(sortedInfo.key.area.name)<10}" th:text="${#strings.substring(sortedInfo.key.area.name,0,9)}+' ...'" style="font-size:24px;" ></b>
			
			
			<p class="w3-padding" th:if="${#strings.length(sortedInfo.key.infoSubject)<14}" th:text="'&quot;'+${sortedInfo.key.infoSubject}+'&quot;'"></p>
			<p class="w3-padding" th:unless="${#strings.length(sortedInfo.key.infoSubject)<14}" th:text="'&quot;'+${#strings.substring(sortedInfo.key.infoSubject,0,14)}+' ...&quot;'"></p>
			
			<p class="w3-small w3-tag w3-green w3-round" style="margin-left: 10px" th:text="'추천 '+${sortedInfo.value}"></p>
		</a>
	
	</div>
	</div>
	<hr>
	
	<br><br>
	<div class="w3-container">
		<b class="w3-left">&lt;게시글 목록&gt;</b>
		<div class="w3-right">
		<a href="infoForm"><button th:if="${session.loginUser != null} and ${session.loginUser.userRank!=0}" class="w3-right w3-btn w3-round-large w3-dark-grey">작성하기</button></a>
		<a href="login"><button th:if="${session.loginUser == null}" class="w3-right w3-btn w3-round-large w3-dark-grey">작성하기</button></a>
		</div>
	</div>
	
	<div th:each="info : ${infoRecommendCountMap}" class="w3-container w3-card w3-panel w3-leftbar w3-border-blue w3-pale-blue">
		<h4 th:text="'장소명 : '+${info.key.area.name}" style="font-weight:bold; text-align:left"></h4>
		
		<th:block th:each="bestRecommendedInfo : ${bestRecommendedInfo}">
			<span th:if="${info.key.infoSeq==bestRecommendedInfo.infoSeq}" th:text="'추천수 best 1'" class="w3-right w3-tag w3-round w3-red" style=""></span>
		</th:block>
		<br>

		<span class="fa fa-quote-right w3-left w3-small"></span>
		<a href="" th:href="@{'/community/infoPage?infoSeq='+${info.key.infoSeq}}">
			<span th:text="${info.key.infoSubject}" class="w3-left"></span>
		</a>		
		<th:block th:each="infocom : ${infoCommentCountMap}">
			<span class="w3-left w3-small" th:if="${info.key.infoSeq==infocom.key.infoSeq}" th:text="'[ 댓글 '+${infocom.value}+' ]'"></span>
		</th:block>
				
		<p th:text="' | '+${info.key.user.userNickname}+' | '+${#strings.replace(info.key.infoRegdate,'T',' ')}+' | 추천 '+${info.value}+' | 조회 '+${info.key.infoHits}" class="w3-right w3-small"></p>
	</div>
	
</section>

</body>
</html>