<!DOCTYPE html>
<html th:replace="~{/fragment/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
  <title>Tripamigo | MAGAZINE</title>
  <style>
  table{border:solid 1px black;}
  a{text-decoration:none;}
  </style>

<body>

<!-- Main Contents -->
<section class="w3-center w3-container" >
  <script th:inline="javascript">
  	function cancel(){
  		if(confirm("작성을 취소하시겠습니까?") == true){
			location.href="/community/magazine";	
		}else {
			return;
		}
  	}
  </script>
<script type="text/javascript" src="http://cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>
	<form id="magazineForm" role="form" action="magazineForm" th:object="${magazineFormDTO}" method="post"
	enctype="multipart/form-data">
		<table>
			<tr>
				<td>
					<input type="text" th:field="*{subject}" placeholder="제목 입력">
					<p th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">subject Error</p>
				</td>
			</tr>
			<tr>
				<td>
					<textarea rows="15" th:field="*{content}" id="content1" style="width:100%; height:100%;"></textarea>
					<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content Error</p>
					<script th:inline="javascript">CKEDITOR.replace("content1",{filebrowserImageUploadUrl:"imgupload.do"})</script>
				</td>
			</tr>
			<tr>
				<td>
					지역태그
				</td>
			</tr>
			<tr>
				<td>
					<input type="file" name="file">
					
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="작성완료">
					<input type="button" onclick="cancel()" value="작성취소">
				</td>
			</tr>
		</table>
	
	</form>
</section>
</body>
</html>