<!DOCTYPE html>
<html
	th:replace="~{/fragment/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
<title>MAGAZINE</title>
<style>
table {
	border: solid 1px black;
}

a {
}
</style>
<body>
	<!-- Main Contents -->
	<section class="w3-center w3-container">
		<style>
			#c{
				overflow: hidden;
				display: flex;
				align-items:center;
				justify-content:center;
				width:100%;
				height:400px;
			}
			.imgs{
				filter:brightness(60%);
			}
			#subject{
				font-size: 50px;
				font-weight: bold;
				color: white;
				width:100%;
			}
			#text{
				color:white;
			}
		</style>
	
		<b class="w3-center w3-xxlarge w3-sans-serif">Magazines</b>
		<p class="w3-center w3-sans-serif">상세글보기</p><hr><br>
		
		<div th:object="${magazine}">
		<span id="c" class="w3-display-container w3-card w3-round-large">
			<img th:if="${magazine.boardThumbnail != ''}" th:src="@{'/uploadFiles/'+${magazine.boardThumbnail}}" width="100%" class="imgs"/>
			<img th:unless="${magazine.boardThumbnail != ''}" th:src="@{'/imgs/noimageb.png'}" width="100%" class="imgs"/>
			<div class="w3-padding w3-display-middle w3-xxlarge w3-sans-serif"
						th:text="${magazine.boardSubject}" id="subject"></div>
			<div class="w3-padding w3-display-bottomright" id="text"
						th:text="'조회수 : ' + ${magazine.boardHits}" ></div>
			<div class="w3-padding w3-display-bottomleft" id="text" th:text="'작성ID : '+${magazine.user.userId}"></div>
			<div class="w3-padding w3-display-topright" id="text" th:text="'작성시각 : ' + ${#strings.replace(magazine.boardRegdate,'T',' ')}"></div>
		</span>
			<div>
			<br>
			<hr>
				<!-- 
				<div class="w3-panel w3-card-4 w3-round-xxlarge" style="height: 50px;">
					<div class="w3-padding w3-left w3-xlarge w3-sans-serif"
						th:text="'제목 : ' + ${magazine.boardSubject}"></div>
					<div class="w3-padding w3-right"
						th:text="'조회수 : ' + ${magazine.boardHits}"></div>
				</div>
				<div class="w3-container w3-round-xxlarge" style="border: solid 1px;">
					<div class="w3-left" th:text="'작성자명 : '+${magazine.user.userId}"></div>
					<div class="w3-right" th:text="'작성시간 : ' + ${#strings.replace(magazine.boardRegdate,'T',' ')}"></div>
				</div>
				 -->
				<!-- 글 내용 -->
				<div class="w3-container w3-panel" style="width:100%;height: 100%;">
					<div class="w3-left w3-panel w3-leftbar w3-rightbar" th:utext="${magazine.boardContent}" style="width:100%; height:100%; text-align:left"></div>
				</div>
			</div>
			<div th:text="${tagList}" class="w3-text-blue"></div>
			<hr>
			<!-- 버튼 -->
			<div class="w3-container">
				<a href="/community/magazine">
					<div class="w3-left w3-button w3-dark-grey w3-round-xlarge" th:text="목록" style="width:100px;"/>
				</a>
				<div class="w3-right w3-button w3-dark-grey w3-round-xlarge">★</div>
				<div class="w3-right w3-button w3-yellow w3-round-xlarge" th:text="신고" />
			</div>
			<br>
			<div class="w3-container w3-center" th:if="${session.loginUser != null}"  style="text-decoration: none;">
				<div
					th:if="${session.loginUser.userId == magazine.user.userId} or ${session.loginUser.userId=='admin'}">
					<form name="f" method="post">
						<input type="hidden" name="boardSeq" th:value="${magazine.boardSeq}">
						<input type="hidden" name="type" value="1">
						<button type="button" onclick="deleteBoard()" class="w3-button w3-blue w3-round-xlarge">글삭제</button>
						<a th:href="@{'updateBoard?boardSeq='+${magazine.boardSeq}+'&type=1'}"><button type="button" class="w3-button w3-dark-grey w3-round-xlarge">글수정</button></a>
					</form>
					<script th:inline="javascript">
						function deleteBoard(){
							form = document.f;
							if(confirm('삭제하시겠습니까?')==true){
								f.action = "deleteBoard";
								f.submit();
							}else{
								return;
							}
						}
						function updateBoard(){
							form = document.f;
							if(confirm('수정하시겠습니까?')==true){
								f.action="updateBoard";
								f.submit();
							}else{
								return;
							}
						}
					</script>
				</div>
				<br>
				<br>
				<!-- 댓글달기 -->
				<div>
					<script th:inline="javascript">
						
						function inputChk(){
							form = document.getElementById('comment');
							if(form.content.value==''||form.content.value.trim()==''){
								alert("댓글 내용을 입력하세요")
								form.content.value='';
								form.content.focus();
								return false;	
							}
							return true;
						}
					</script>
					<!-- 댓글 폼 -->
					<form id="comment" onsubmit="return inputChk()" action="comment" th:object="${commentFormDTO}" method="post">
						<input type="hidden" name="id" th:value="${session.loginUser.userId}"> 
						<input type="hidden" name="boardSeq" th:value="${magazine.boardSeq}">
						<input type="hidden" name="boardType" value="1">
						<div class="w3-card w3-left" style="width:10% ;height:100px;" th:text="${session.loginUser.userId}"></div>
						<div class="w3-left" style="width: 80%; text-align: left">
							<textarea class="w3-card" name="content" placeholder="댓글내용" style="width: 100%; height:100px; resize:none;border:none"></textarea>
						</div>
						<div class="w3-right" style="width:10%">
							<input type="submit" value="댓글작성" class="w3-button w3-blue w3-round-xlarge">
						</div>
					</form>
				</div>
			</div>
			<div class="w3-container w3-center" th:unless="${session.loginUser != null}"  style="text-decoration: none;">
				댓글은 로그인후 가능합니다.
			</div>
			<br>
			<br>

			<!-- 댓글목록 -->
			<div style="width: 100%;" th:if="${commentList.size > 0}">
				<table style="width: 100%" class="w3-small w3-table-all">
					<tr>
						<th class="w3-large" colspan="3" style="text-align: center">댓글
							목록</th>
					</tr>
					
					<tr th:each="comment : ${commentListMap}">
								<td style="width: 10%; text-align: center"><span
									class="w3-panel w3-border-none" th:text="${comment.key.user.userId}"></span>
								</td>
								<td><span class="w3-panel w3-border-left" th:text="${comment.key.commentContent}" style="float: left; text-align: left; width: 95%"></span>
								<p class="w3-tiny w3-right" th:text="${#strings.replace(comment.key.commentRegdate,'T',' ')}"><p> 
									<span style="float: right; text-align: center; width: 5%" th:if="(${session.loginUser!=null} and ${comment.key.user.userId==session.loginUser.userId}) or (${session.loginUser!= null and session.loginUser.userId=='admin'})">
										<a th:href="@{'deleteComment?commentSeq='+${comment.key.commentSeq} + '&boardType=1&boardSeq=' + ${magazine.boardSeq}}">
										<img src="/imgs/icons/del_cmt.png"></a>
								</span></td>
						<!-- 추천/ 신고 -->
								<td style="width: 15%">
								<!-- th:if="${session.loginUser!=null}" -->
								<button th:if="${session.loginUser!=null} and ${!comment.value}" class="w3-button w3-blue w3-round-xlarge" 
									th:onclick="'commentRecommend('+${comment.key.user.userSeq}+','+${comment.key.commentSeq}+','+${session.loginUser.userSeq}+')'">
									<b th:each="countRecommend : ${countCommentRecommend}">
										<p th:if="${comment.key.commentSeq==countRecommend.key.commentSeq}" th:text="'추천 '+${countRecommend.value}"></p>
									</b>
								</button>
								
								<button th:if="${session.loginUser!=null} and ${comment.value}" class="w3-button w3-red w3-round-xlarge" 
									th:onclick="'commentRecommend('+${comment.key.user.userSeq}+','+${comment.key.commentSeq}+','+${session.loginUser.userSeq}+')'">
									<b th:each="countRecommend : ${countCommentRecommend}">
										<p th:if="${comment.key.commentSeq==countRecommend.key.commentSeq}" th:text="'추천 '+${countRecommend.value}"></p>
									</b>
								</button>
								
								<button th:unless="${session.loginUser!=null}" class="w3-button w3-blue w3-round-xlarge" 
									th:onclick="'loginAlert()'">
									<b th:each="countRecommend : ${countCommentRecommend}">
										<p th:if="${comment.key.commentSeq==countRecommend.key.commentSeq}" th:text="'추천 '+${countRecommend.value}"></p>
									</b>
								</button>
								
								/ 신고
							
								</td>
							</tr>
				</table>
			</div>
			<div style="width: 100%;" th:unless="${commentList.size > 0}">
				댓글이 없습니다.
				<br><br>
			</div>

			<!-- 댓글목록============================= -->
			<!-- <div style="width: 100%;" th:if="${commentList.size > 0}">
				<table style="width: 100%" class="w3-small w3-table-all">
					<tr>
						<th class="w3-large" colspan="3" style="text-align: center">댓글
							목록</th>
					</tr>
					<tr th:each="comment : ${commentList}">
						<td style="width: 10%; text-align: center"><span
							class="w3-panel w3-border-none" th:text="${comment.user.userId}"></span>
						</td>
						<td><span class="w3-panel w3-border-left" th:text="${comment.commentContent}" style="float: left; text-align: left; width: 95%"></span>
						<p class="w3-tiny w3-right" th:text="${#strings.replace(comment.commentRegdate,'T',' ')}"><p> 
							<span style="float: right; text-align: center; width: 5%" th:if="(${session.loginUser!=null} and ${comment.user.userId==session.loginUser.userId}) or (${session.loginUser!= null and session.loginUser.userId=='admin'})">
								<a th:href="@{'deleteComment?commentSeq='+${comment.commentSeq} + '&boardType=1&boardSeq=' + ${magazine.boardSeq}}">
								<img src="/imgs/icons/del_cmt.png"></a>
						</span></td>
				<!-- 추천/ 신고 --><!-- 
						<td style="width: 15%">
						<!-- th:if="${session.loginUser!=null}" --><!-- 
						<button th:if="${session.loginUser!=null}" class="w3-button w3-blue w3-round-xlarge" 
							th:onclick="'commentRecommend('+${comment.user.userSeq}+','+${comment.commentSeq}+','+${session.loginUser.userSeq}+')'">추천(수)</button>
						
						<button th:unless="${session.loginUser!=null}" class="w3-button w3-blue w3-round-xlarge" 
							th:onclick="'loginAlert()'">추천(수)</button>
						
						/ 신고
						
						</td>
					</tr>
				</table>
			</div>
			<div style="width: 100%;" th:unless="${commentList.size > 0}">
				댓글이 없습니다.
				<br><br>
			</div>-->
		</div>
	<script th:inline="javascript">
		function commentRecommend(commentUserSeq, contentSeq, userSeq){
			console.log(commentUserSeq)
			console.log(contentSeq)
			console.log(userSeq)
			if(commentUserSeq==userSeq){
				alert('본인 댓글 추천 불가');
				return false;			
			}
			
			$.ajax({
				type:"POST",
				url:"commentRecommend",
				data:{"contentSeq":contentSeq, "userSeq":userSeq},
				success: function(data){
							if(data==true){
								alert("추천 완료")
								location.reload();
								console.log(data)
							}else{
								alert("추천 취소")
								location.reload();
								console.log(data)
							}
						}
			})
			
		}
		function loginAlert(){
			alert("로그인하세요")
			location.href="/login";
		}
	</script>
	</section>

</body>
</html>