<!DOCTYPE html>
<html th:replace="~{/layout/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
  <title>MAGAZINE</title>
  <style>
	  table{border:solid 1px black;}
	  a{text-decoration:none;}
  </style>
<body>
<!-- Main Contents -->
<section class="w3-center w3-container" >
	<h2 class="w3-center">Magazines</h2>
				boardSubject
				boardContent
				boardThumbnail
				boardRegdate
				boardHits
				boardTag
	<div th:object="${magazine}">
		<div class="w3-container" style="border:solid 1px;">
			<div class="w3-left" th:text="'제목 : ' + ${magazine.boardSubject}"></div>
			<div class="w3-right" th:text="'조회수 : ' + ${magazine.boardHits}"></div>
		</div>
		<div class="w3-container" style="border:solid 1px;">
			<div class="w3-left" th:text="'작성자명 : '+${magazine.user.userId}"></div>
			<div class="w3-right" th:text="'작성시간 : ' + ${#strings.replace(magazine.boardRegdate,'T',' ')}"></div>
		</div>
		<div class="w3-container" style="border:solid 1px; height:500px;">
			<div class="w3-left" th:utext="${magazine.boardContent}"></div>
		</div>
	</div>
	<div class="w3-container">
		<a href="/community/magazine"><div class="w3-left w3-button w3-dark-grey" th:text="목록"/></a> 
		<div class="w3-right w3-button w3-dark-grey">★</div>
		<div class="w3-right w3-button w3-yellow" th:text="신고"/>
	</div>
	<br>
	<div class="w3-container" th:if="${session.loginUser != null}">
		<div class="w3-button w3-blue" th:if="${session.loginUser.userId == magazine.user.userId}">
			<a href="#" th:href="@{'deleteBoard?boardSeq='+${magazine.boardSeq}+'&type=1'}">글삭제</a>
		</div>
		<br><br>
		<div class="w3-left" th:text="${session.loginUser.userId}"></div>
		<div class="w3-left" style="width:80%; text-align: left">
			<textarea placeholder="댓글내용" style="width:100%"></textarea>
		</div>
		<div class="w3-right w3-button " th:text="댓글작성"></div>
	</div>
	<div class="w3-container" th:text="댓글목록">
	<hr></div>
	<div th:each="comment : ${commentList}">
		<div class="w3-left" th:text="${comment.user.userId}"></div>
		<div class="w3-left" th:text="${comment.commentContent}"></div>
		
		<!-- 신고//추천 기능 구현 필요 -->
		<div class="w3-button w3-right w3-yellow" th:text="신고"></div>
		<div class="w3-button w3-right w3-pink" th:text="추천"></div>
	</div>
	
</section>

</body>
</html>