<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/fragment/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
<head>
    <title>MY PAGE | HOME</title>
    <style>
    	table {
		  border-collapse: separate;
		  border-spacing: 0 10px;
		}
    </style>
</head>
<body>
<!-- Main Contents -->
<section class="w3-padding">
    <div th:replace="~{/fragment/mypage_layout :: myPageLayout}"></div>

    <div th:if="${diaryList.size <= 0}">
        <p>다이어리를 만들어 보세요!</p>
    </div>
    <div th:unless="${diaryList.size <= 0}">
        <div th:each="diary : ${diaryList}" class="w3-row">
            <div class="w3-col s3">
                <p th:text="${diary.name}"></p>
            </div>
        </div>
    </div>
</section>
<!-- Main Contents END -->

</body>
</html>