<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content, style)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Tripamigo | '
            + ${#strings.substring(title, #strings.indexOf(title, '>') + 1, #strings.indexOf(title, '</'))}">
        TITLE
    </title>
    <!-- css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <style th:replace="${style} ? ${style} : _"></style>
</head>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border w3-pale-blue w3-card sidebar">
    <!--  LOGO  -->
    <a href="/home" class="w3-bar-item w3-button w3-red w3-hover-black">Tripamigo</a>
    <!--  LOGO END -->

    <!-- Profile -->
    <div class="w3-card-2 w3-center w3-padding w3-margin">

        <!-- Lgoin -->
        <div th:if="${session.loginUser != null}">
            <a href="/mypage/home">
                <img th:src="${session.loginUser.userProfileImage} ?: _" src="/imgs/icons/id.png" alt="X"
                     style="width: 95%" class="w3-center w3-margin-top w3-circle">
            </a>
            <p th:text="${session.loginUser.userNickname != null ? session.loginUser.userNickname : '닉네임을 설정하세요'}"></p>
        </div>
        <!-- Lgoin END -->

        <!-- Logout -->
        <div th:if="${session.loginUser == null}">
            <a th:href="@{/login}">로그인</a>
            <a th:href="@{/signup}">회원 가입</a>
        </div>
        <!-- Logout END -->

    </div>
    <!-- Profile END -->

    <hr style="border: 1px solid red; margin-left: 1em; margin-right: 1em;">

    <!-- Menu 1 -->
    <div class="w3-center">
        <a href="#" class="w3-button w3-hover-blue w3-border w3-border-black">Diary</a>
        <a href="#" class="w3-button w3-hover-blue w3-border w3-border-black">여행 계획</a>
    </div>
    <!-- Menu 1 END -->

    <hr style="border: 1px solid red; margin-left: 1em; margin-right: 1em;">

    <!-- Menu 2 -->
    <a href="info" class="w3-bar-item w3-button w3-hover-blue">여행 정보</a>
    <a href="review" class="w3-bar-item w3-button w3-hover-blue">여행 후기</a>
    <a href="/community/magazine" class="w3-bar-item w3-button w3-hover-blue">매거진</a>
    <a href="promotion" class="w3-bar-item w3-button w3-hover-blue">홍보</a>
    <!-- Menu 2 END -->

    <hr style="border: 1px solid red; margin-left: 1em; margin-right: 1em;">

    <a href="/withdrawal" class="w3-bar-item w3-button w3-hover-blue">회원 탈퇴</a>
</div>
<!-- Sidebar END -->

<div class="w3-container main" th:insert="${content}"></div>

<!-- Footer -->
<div class="w3-container w3-center w3-border w3-margin-top footer">
    &copy; 2021 Tripamigo
</div>
<!-- Footer END -->

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>