<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content, style)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Tripamigo | '
            + ${#strings.substring(title, #strings.indexOf(title, '>') + 1, #strings.indexOf(title, '</'))}">
        TITLE
    </title>
    <!-- css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <style th:replace="${style} ? ${style} : _"></style>
</head>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border w3-light-gray w3-card sidebar">

    <!--  LOGO  -->
    <a th:href="@{/home}"
       class="w3-bar-item w3-button w3-indigo w3-border-bottom
       w3-border-white w3-hover-white w3-hover-text-indigo w3-hover-border-indigo">
        Tripamigo
    </a>
    <!--  LOGO END -->

    <!-- Profile -->
    <!-- Lgoin -->
    <div th:if="${session.loginUser != null}" class="w3-left w3-padding w3-margin" style="width: 90%;">
        <img th:src="${session.loginUser.userProfileImage} ?: '/imgs/icons/id.png'" src="/imgs/icons/id.png" alt="X"
             style="width: 95%; height: 80px; object-fit: contain;">
        <div class="w3-dropdown-hover">
            <button th:text="${session.loginUser.userNickname ?: '닉네임을 설정하세요'} + ' ▼'"
                    class="w3-button w3-round w3-border-bottom w3-border-gray w3-margin-top"></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a th:href="@{/mypage/home}" class="w3-bar-item w3-button w3-hover-indigo">
                    마이 페이지
                </a>
                <a th:href="@{/info}" class="w3-bar-item w3-button w3-hover-indigo">
                    회원 정보 수정
                </a>
                <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hover-indigo">
                    로그아웃
                </a>
            </div>
        </div>
    </div>
    <!-- Lgoin END -->

    <!-- Logout -->
    <div th:if="${session.loginUser == null}" class="w3-center w3-padding w3-margin">
        <a th:href="@{/login}"
           class="w3-button w3-indigo w3-border w3-border-black w3-hover-black w3-margin">
            로그인
        </a>
        <a th:href="@{/signup}"
           class="w3-button w3-indigo w3-border w3-border-black w3-hover-black w3-margin">
            회원 가입
        </a>
    </div>
    <!-- Logout END -->
    <!-- Profile END -->

    <!-- Menu 1 -->
    <div class="w3-center w3-margin-top">
        <a th:href="@{/mypage/diary}" class="w3-button w3-round
        w3-indigo w3-hover-white w3-hover-text-indigo
        w3-border w3-border-gray w3-hover-border-indigo
        w3-margin-left w3-margin-right">
            다이어리
        </a>
        <a th:href="@{/community/plan}" class="w3-button w3-round
        w3-indigo w3-hover-white w3-hover-text-indigo
        w3-border w3-border-gray w3-hover-border-indigo
        w3-margin-left w3-margin-right">
            여행 계획
        </a>
    </div>
    <!-- Menu 1 END -->

    <div class="menu-hr"></div>

    <!-- Menu 2 -->
    <div>
        <a th:href="@{/community/home}"
           class="w3-bar-item w3-round w3-margin-left w3-button w3-leftbar w3-border-light-gray
           w3-hover-white w3-hover-border-indigo w3-hover-text-indigo sidebar-item">
            메인
        </a>
        <div class="menu-hr"></div>
        <a th:href="@{/community/search}"
           class="w3-bar-item w3-round w3-margin-left w3-button w3-leftbar w3-border-light-gray
           w3-hover-white w3-hover-border-indigo w3-hover-text-indigo sidebar-item">
            종합 검색
        </a>
        <a th:href="@{/community/info}"
           class="w3-bar-item w3-round w3-margin-left w3-button w3-leftbar w3-border-light-gray
           w3-hover-white w3-hover-border-indigo w3-hover-text-indigo sidebar-item">
            여행 정보
        </a>
        <a th:href="@{/community/review}"
           class="w3-bar-item w3-round w3-margin-left w3-button w3-leftbar w3-border-light-gray
           w3-hover-white w3-hover-border-indigo w3-hover-text-indigo sidebar-item">
            여행 후기
        </a>
        <a th:href="@{/community/magazine}"
           class="w3-bar-item w3-round w3-margin-left w3-button w3-leftbar w3-border-light-gray
           w3-hover-white w3-hover-border-indigo w3-hover-text-indigo sidebar-item">
            매거진
        </a>
        <a th:href="@{/community/promotion}"
           class="w3-bar-item w3-round w3-margin-left w3-button w3-leftbar w3-border-light-gray
           w3-hover-white w3-hover-border-indigo w3-hover-text-indigo sidebar-item">
            홍보
        </a>
    </div>
    <!-- Menu 2 END -->

</div>
<!-- Sidebar END -->

<div class="w3-container main" th:insert="${content}"></div>

<!-- Footer -->
<div class="w3-container w3-black w3-right-align w3-border-top w3-margin-top footer">
    &copy; 2021 Tripamigo
</div>
<!-- Footer END -->

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>