section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

section > * {
    width: 85%;
}

.sidebar-plan {
    position:fixed;
    top: 1rem;
    right: 1rem;

    padding: 1rem;
}

.sidebar-plan * {
    font-size: 0.75rem;
}

.error-message {
    font-size: 0.75rem;
    color: crimson;
}
