<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Tripamigo | HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1, h2, h3, h4, h5 {	font-family: "Poppins", sans-serif}
body {	font-size: 16px;}
table {	width:650px;	border: none;	border-collapse: collapse;}
th, td {border:none;}
.w3-half img {	margin-bottom: -6px;	margin-top: 16px;	opacity: 0.8;	cursor: pointer}
.w3-half img:hover {	opacity: 1}
td{height:60px; text-align:center;}
input[type=text]{border:1px solid #dbdbdb; font-size:14px; font-weight:bold; width:400px; height:60px; padding-left: 30px;}
input[type=password]{border:1px solid #dbdbdb; font-size:14px; font-weight:bold; width:400px; height:60px; padding-left: 30px;}
input::placeholder{color: #c6c6c6; }
.dologin{width:400px; height:70px; font-weight:bold; font-size:20px; background-color:#434a5d; color:white; border:none;}
.googlelogin{width:200px; height:50px; font-weight:bold; font-size:20px; background-color:red; color:white; border:none;}
.kakaologin{width:200px; height:50px; font-weight:bold; font-size:20px; background-color:yellow; color:black; border:none;}
.signup{width:150px; height:40px; font-weight:bold; font-size:20px; background-color:yellow; color:black; border:none;}
</style>


<body id="myPage">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar --><!--  -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-teal"><i class="fa fa-home w3-margin-right"></i>HOME</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Tripamigo</a>
	<a href="signup"><button class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white" title="Go To W3.CSS" th:if="${session.loginUser eq null}" th:text="회원가입"/></a>
  	<button onclick="document.getElementById('id02').style.display='block'" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white" title="Go To W3.CSS" th:if="${session.loginUser eq null}" th:text="로그인"/>
  	<a href="logout"><button class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white" title="Go To W3.CSS" th:unless="${session.loginUser eq null}" th:text="로그아웃"/></a>
  <a href="mypage/home"><button class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white" title="Go To W3.CSS" th:unless="${session.loginUser eq null}" th:text="마이페이지"/></a>
  <a href="community/home" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white">커뮤니티</a>
    <!-- 
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Dropdown <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="#" class="w3-bar-item w3-button">Link</a>
      <a href="#" class="w3-bar-item w3-button">Link</a>
      <a href="#" class="w3-bar-item w3-button">Link</a>
    </div>
  </div>
   -->
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">계획세우기</a>
    <a href="#work" class="w3-bar-item w3-button">여행정보</a>
    <a href="#pricing" class="w3-bar-item w3-button">로그인</a>
    <a href="#contact" class="w3-bar-item w3-button">회원가입</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity" style="position:relative;">
  <img src="imgs/mainbar2.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  
  <div class="w3-container w3-display-center w3-margin-bottom" style="position:absolute; top:35%; left:37%">
    <img src="imgs/logo2.png" alt="boat" style="width:100%;">
  </div>
  
  <div class="w3-container w3-display-center w3-margin-bottom" style="position:absolute; top:80%; left:43%">
    <a href="/community/plan/write/first">
    	<button style="height:50px; width:250px; font-weight: bold; border-radius: 20px; border:none; background-color: yellow; font-size: 25px;">
    		여행떠나기
    	</button>
    </a>
  </div>
</div>

<!-- Modal -->
	<!-- 회원가입 -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-bottom">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h3>회원가입</h3>
    </header>
    <div class="w3-container">
      <div style=" display:flex; justify-content: center; vertical-align: middle; height:100%">
			<form method="post" id="f" name="f" th:object="${userFormDTO}" onsubmit="return submitChk(this)">
			<table>
				<tr>
					<td colspan="3">
					<br>
						<input type="submit" value="Google" class="googlelogin">
						<input type="submit" value="Kakao" class="kakaologin">
						<br><br>
					</td>
				</tr>
				<tr>
				<!-- 
				ajax valid
				hidden값으로 아이디중복확인여부v
				-->
					<td>아이디</td>
					<td><input type="text" name="id" placeholder="아이디 입력 "><div id="idchk"></div></td>
					<td><a href="javascript:overlap()">중복확인</a>
						<input type="hidden" name="ovChkValue" value="0">
					</td>
					
				</tr>
				<tr>
					<td>비밀번호</td>
					<td><input type="password" name="password" placeholder="비밀번호 입력"></td>
					<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">id Error</td>
				</tr>
				<tr>
					<td>이메일</td>
					<td><input type="text" name="email" placeholder="이메일 입력"></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">id Error</td>
				</tr>
				<tr>
					<td>생년월일</td>
					<td>
						<input type="text" name="year" placeholder="년">
						<input type="text" name="month" placeholder="월">
						<input type="text" name="day" placeholder="일">
					</td>
					<td></td>
				</tr>
				<tr>
					<td>별명</td>
					<td><input type="text" name="nickname" placeholder="별명 입력 "></td>
					<td th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">id Error</td>
				</tr>
				<tr>
					<td>성별</td>
					<td>
						<input type="radio" name="gender" value="0">남&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="gender" value="1">여
					</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="3">
						<input type="submit" value="회원가입" class="signup">
					</td>
				</tr>
				
			</table>
			</form>
		</div>
  </div>
</div>
</div>
	<!-- 로그인 -->
<div id="id02" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top" style="width:600px; height:700px;">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h3>로그인</h3>
    </header>
    <div class="w3-container" style="text-align:center;">
    	<br><br><br><br>
    	<div style=" display:flex; justify-content: center; vertical-align: middle; height:100%">

			<table>
				<form id="loginform" action="/login" th:object="${userFormDTO}" method="post">
				<tr>
					<td><input type="text" th:field="*{id}" placeholder="아이디 입력 "></td>
					<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id Error</td>
				</tr>
				<tr>
					<td><br><input type="password" th:field="*{password}" placeholder="비밀번호 입력"></td>
					<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">id Error</td>
				</tr>
				<tr>
					<td>
					<br><br>
						<input type="submit" value="로그인" class="dologin">
					</td>
				</tr>
			</form>
				<tr>
					<td>
						<br>
						<input type="image" id="google" src="imgs/icons/btn_google_signin_light_focus_web.png" alt="error">
						<input type="image" id="kakao" src="imgs/icons/kakao_login_medium_narrow.png"
							   alt="error" onclick="loginWithKaKao()">
					</td>
				</tr>
			</table>

		</div>
    </div>
  </div>
</div>

<!-- Magazines -->
<style>
img[name=thumb]{
	  	width:100%;
	  	height:100%;
	  	object-fit:cover;
	  	border:none;
	 }
img[name=thumb]:hover{
	filter:brightness(40%);
}
</style>
<div class="w3-container w3-padding-64 w3-center" id="team">
	<h2>이런 여행은 어떠신가요?</h2>
	<p>Magazines</p>
	<div class="w3-container w3-center" style="width:100%; justify-content: center; text-align: center; display: flex;"><br>
		<div th:each="magazine : ${magazineListSub}" class="w3-quarter w3-card" style="margin-right:10px; margin-left:10px; margin-bottom:100px; width:300px; height:250px;" >
		
			<div class="w3-display-container" name="thumb" style="padding:0px; height:250px">
 	 			
 	 			<a href="" th:href="@{'/community/magazinePage?boardSeq='+${magazine.boardSeq}}">
					<img th:if="${magazine.boardThumbnail != ''}" th:src="@{'/uploadFiles/'+${magazine.boardThumbnail}}" name="thumb" />
					<img th:unless="${magazine.boardThumbnail != ''}" th:src="@{'/imgs/noimage.png'}" name="thumb" />
					
					<div class="w3-display-middle" style="width:90%; display: inline-block;">
				 		<b class="w3-display-hover w3-container w3-text-white" style="text-align:left; font-size: 20px;"
				 			th:text="'● '+${magazine.boardSubject}">● 제목</b>
 	 					<p class="w3-display-hover w3-container w3-text-white" style="text-align:left;"
 	 						> 글 내용을 보시려면 클릭
 	 					</p>
  	 				</div>
					
				</a>
			</div>
		</div>
		<!-- 
		<div class="w3-quarter" style="text-align: center;">
			<div class="w3-display-container w3-hover-opacity">
	 	 		<img src="imgs/mainbar.jpg" alt="Boss" style="width:90%">
	 			<div class="w3-display-middle" style="width:90%; display: inline-block;">
				 	<h3 class="w3-display-hover w3-container w3-text-white" style="text-align:left;">● 제목</h3>
 	 				<p class="w3-display-hover w3-container w3-text-white" style="text-align:left;">내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</p>
  	 			</div>
			</div>
		</div>
		 -->
	</div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1 w3-center">

	<h2>여행지에 대한 정보글</h2>
	<p>Trip information</p>
	<div class="w3-container w3-center" style="width:100%; justify-content: center; text-align: left; display: flex;"><br>
		<div th:each="info : ${infoListSub}" class="w3-quarter w3-card w3-button w3-white" style="margin-right:10px; margin-left:10px; margin-bottom:100px; width:300px; height:250px;" >
		 	<b class="w3-container" style="text-align:left; font-size: 20px;"
	 			th:text="'● '+${info.area.name}">● 제목</b>
			<p class="w3-container" style="text-align:left;"
				th:text="'&quot;'+${info.infoSubject}+'&quot;'"> 글 내용을 보시려면 클릭
 			</p>
		</div>
	</div>


</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>
<br><br id="work">
<!-- Pricing Row -->
<div class="w3-center" id="pricing">
    <h2>ABOUT US</h2>
    <p>tripamigo</p><br>
    <div class="w3-center" style="width:100%">
      <img src="imgs/aboutus.png">
    </div>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>Swing by for a cup of coffee, or whatever.</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Chicago, US</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +00 1515151515</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  test@test.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Message</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>© 2021 Tripamigo</p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<script th:inline="javascript" src="script/kakao_login.js"></script>
<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>


