<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{/fragment/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
  <title>WRITE PLAN 1</title>
  <style th:inline="text">
	  @import url('/css/plan.css');
	  @import url('/css/calendar.css');
  </style>
<body>
<!-- Main Contents -->
<section class="w3-center w3-center-align w3-container">

	<!-- Calendar -->
	<div id="calendar" class="calendar">

		<div class="cal-select-bar">
			<span>
				<select name="cal-year" id="cal-year">
					<option value="">연도</option>
				</select>
			</span>
			<span>
				<select name="cal-month" id="cal-month">
					<option value="">월</option>
				</select>
			</span>
		</div>

		<div class="cal-row">
			<div class="cal-col">
				<p>일</p>
			</div>
			<div class="cal-col">
				<p>월</p>
			</div>
			<div class="cal-col">
				<p>화</p>
			</div>
			<div class="cal-col">
				<p>수</p>
			</div>
			<div class="cal-col">
				<p>목</p>
			</div>
			<div class="cal-col">
				<p>금</p>
			</div>
			<div class="cal-col">
				<p>토</p>
			</div>
		</div>

		<div id="calendar_value"></div>

	</div>
	<!-- Calendar END -->

	<!-- 전체 일정 입력 폼 (Period Form) -->
	<form th:action="@{first}" method="post" th:object="${periodDTO}" class="w3-card">

		<h3>일정 시작 시간을 선택하세요!</h3>

		<select name="startYear" id="startYear" th:field="*{startYear}">
			<option value="">연도</option>
		</select>
		<label for="startYear" class="w3-margin-right">년</label>

		<select name="startMonth" id="startMonth" th:field="*{startMonth}">
			<option value="">월</option>
		</select>
		<label for="startMonth" class="w3-margin-right">월</label>

		<select name="startDay" id="startDay" th:field="*{startDay}">
			<option value="">일</option>
		</select>
		<label for="startDay" class="w3-margin-right">일</label>

		<select name="startTime" id="startTime" th:field="*{startTime}">
			<option value="">시각</option>
		</select>
		<label for="startTime">시</label>

		<br>

		<p th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}" class="error-message"></p>
		<p th:if="${#fields.hasErrors('startMonth')}" th:errors="*{startMonth}" class="error-message"></p>
		<p th:if="${#fields.hasErrors('startDay')}" th:errors="*{startDay}" class="error-message"></p>
		<p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="error-message"></p>

		<br> <br> <br>

		<h3>일정 종료 시간을 선택하세요!</h3>

		<select name="endYear" id="endYear" th:field="*{endYear}">
			<option value="">연도</option>
		</select>
		<label for="endYear" class="w3-margin-right">년</label>

		<select name="endMonth" id="endMonth" th:field="*{endMonth}">
			<option value="">월</option>
		</select>
		<label for="endMonth" class="w3-margin-right">월</label>

		<select name="endDay" id="endDay" th:field="*{endDay}">
			<option value="">일</option>
		</select>
		<label for="endDay" class="w3-margin-right">일</label>

		<select name="endTime" id="endTime" th:field="*{endTime}">
			<option value="">시각</option>
		</select>
		<label for="endTime">시</label>

		<br>

		<p th:if="${#fields.hasErrors('endYear')}" th:errors="*{endYear}" class="error-message"></p>
		<p th:if="${#fields.hasErrors('endMonth')}" th:errors="*{endMonth}" class="error-message"></p>
		<p th:if="${#fields.hasErrors('endDay')}" th:errors="*{endDay}" class="error-message"></p>
		<p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="error-message"></p>

		<br> <br> <br>

		<div class="w3-card w3-white sidebar-plan">

			<div class="w3-container">
				<b>1. 전체 일정 고르기</b>
				<p>2. 세부 일정 쌓기</p>
				<p>3. 글 작성하기</p>
			</div>

			<input type="submit" class="w3-button w3-round w3-border"
				   style="" value="다음 단계로">

		</div>

	</form>

	<script type="module">
		import {
			Calendar
		} from '/script/calendar.js';

		class App {
			constructor() {
				this.idStartYear = document.getElementById("startYear");
				this.idStartMonth = document.getElementById("startMonth");
				this.idStartDay = document.getElementById("startDay");
				this.idStartTime = document.getElementById("startTime")

				this.idEndYear = document.getElementById("endYear");
				this.idEndMonth = document.getElementById("endMonth");
				this.idEndDay = document.getElementById("endDay");
				this.idEndTime = document.getElementById("endTime")

				const now = new Date();
				this.years = this.range(now.getFullYear(), now.getFullYear() + 1);
				this.valueAppendChildTo(this.idStartYear, this.years);
				this.valueAppendChildTo(this.idEndYear, this.years);

				this.times = this.range(1, 24);
				this.valueAppendChildTo(this.idStartTime, this.times);
				this.valueAppendChildTo(this.idEndTime, this.times);

				this.idStartYear.addEventListener('change', this.changeMonthByYear.bind(this));
				this.idStartMonth.addEventListener('change', this.changeDayByMonth.bind(this));

				this.idEndYear.addEventListener('change', this.changeEndMonthByYear.bind(this));
				this.idEndMonth.addEventListener('change', this.changeEndDayByMonth.bind(this));

				new Calendar();
			}

			range(start, end) {
				return Array(end - start + 1).fill(start).map((x, y) => x + y);
			}

			valueAppendChildTo(target, values) {
				target.options.length = 1;
				for (const value in values) {
					if(values.hasOwnProperty(value)) {
						const option = document.createElement("option");
						option.text = values[value].toString();
						option.value = (values[value] - 1).toString();
						target.appendChild(option)
					}
				}
			}

			changeMonthByYear(event) {
				if (!isNaN(event.target.value) || event.target.value === "") {
					const now = new Date();
					let months;
					// 연이 같으면 이번 달 부터 출력
					if (now.getFullYear() === parseInt(event.target.value)) {
						months = this.range(now.getMonth() + 1, 12);
					} else {
						months = this.range(1, 12);
					}
					this.valueAppendChildTo(this.idStartMonth, months);
				}
			}

			changeDayByMonth(event) {
				if (!isNaN(event.target.value) || event.target.value === "") {
					const selectYear = parseInt(this.idStartYear.value);
					const selectMonth = parseInt(event.target.value);
					const now = new Date();
					let days;
					// 연, 월이 같으면 오늘 날짜부터 출력
					// 월의 경우 0 ~ 11이므로 +1부터 비교
					if (now.getFullYear() === selectYear
							&& (now.getMonth() + 1) === selectMonth) {
						days = this.range(now.getDate(), this.getLastDay(selectYear, selectMonth) + 1)
					} else {
						days = this.range(1, this.getLastDay(selectYear, selectMonth) + 1)
					}

					this.valueAppendChildTo(this.idStartDay, days);
				}
			}

			changeEndMonthByYear(event) {
				if (!isNaN(event.target.value) || event.target.value === "") {
					const now = new Date();
					let months;
					// 연이 같으면 이번 달 부터 출력
					if (now.getFullYear() === parseInt(event.target.value)) {
						months = this.range(now.getMonth() + 1, 12);
					} else {
						months = this.range(1, 12);
					}
					this.valueAppendChildTo(this.idEndMonth, months);
				}
			}

			changeEndDayByMonth(event) {
				if (!isNaN(event.target.value) || event.target.value === "") {
					const selectYear = parseInt(this.idEndYear.value);
					const selectMonth = parseInt(event.target.value);
					const now = new Date();
					let days;
					// 연, 월이 같으면 오늘 날짜부터 출력
					// 월의 경우 0 ~ 11이므로 +1부터 비교
					if (now.getFullYear() === selectYear
							&& (now.getMonth() + 1) === selectMonth) {
						days = this.range(now.getDate(), this.getLastDay(selectYear, selectMonth) + 1)
					} else {
						days = this.range(1, this.getLastDay(selectYear, selectMonth) + 1)
					}

					this.valueAppendChildTo(this.idEndDay, days);
				}
			}

			getLastDay(year, month) {
				return new Date(year, month, -1).getDate()
			}
		}

		window.onload = () => new App();

	</script>
</section>

</body>
</html>