<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{/fragment/layout :: layout(~{::title}, ~{::section}, ~{::style})}">
  <title>WRITE PLAN 2</title>
  <style th:inline="text">
	  @import url('/css/plan.css');
  </style>
<body>
<!-- Main Contents -->
<section class="w3-container">

	<!-- Plan Detail Table -->
	<div class="w3-dropdown-click w3-center">
		<button class="w3-button w3-card" style="width: 100%;" onclick="detailPlanDropDown()">
			지금까지 작성한 일정 보기
		</button>
		<div id="detail_plan_table" class="detail_plan_table w3-dropdown-content" style="width: 100%;">
			<div class="w3-card" id="detail_plan_items" style="margin: 0; width: 100%; height: 100%;">

				<!-- 세부 일정 목록 O -->
				<div th:if="${session.planDetailList != null && session.planDetailList.size > 0}" style="margin: 0; padding: 0; max-height: 400px; overflow-y: scroll;">
					<div class="item w3-border-bottom w3-border-black w3-row">
						<div class="w3-col s2">
							일정 시간
						</div>
						<div class="w3-col s2">
							장소 / 교통 편
						</div>
						<div class="w3-col s2">
							예상 지출액
						</div>
						<div class="w3-col s5">
							메모
						</div>
					</div>

					<!-- 세부 일정 추가 목록 -->
					<div class="item w3-border-top w3-border-bottom w3-row"
						 th:each="planDetail, planDetailStat : ${session.planDetailList}"
						 style="padding-left: 1rem;">
						<div class="w3-col s2">
							<p th:text="${planDetail.getStartDateTime() + ' - '}"></p>
							<p th:text="${planDetail.getEndDateTime() + ''}"></p>
						</div>
						<div class="w3-col s2">
							<!-- 교통편 선택 -->
							<p th:if="${planDetail.traffic != null}"
							   th:text="${planDetail.traffic.org + '-' + planDetail.traffic.des}"></p>
							<!-- 장소 선택 -->
							<p th:if="${planDetail.area != null}"
							   th:text="${planDetail.area.placeName}"></p>
							<p th:if="${planDetail.area == null && planDetail.traffic == null}"></p>
						</div>
						<div class="w3-col s2">
							<p th:text="${planDetail.budget}"></p>
						</div>
						<div class="w3-col s5">
							<p th:text="${planDetail.memo}"></p>
						</div>
						<div class="w3-col s1 w3-center">
							<p>
								<a th:href="@{'/community/plan/write/second/delete/' + ${planDetailStat.index}}"
								   class="w3-centered w3-button w3-round w3-indigo w3-border
									w3-hover-white w3-hover-border-indigo w3-hover-text-indigo">
									삭제
								</a>
							</p>
						</div>
					</div>
				</div>

				<!-- 세부 일정 목록 X -->
				<div th:unless="${session.planDetailList != null && session.planDetailList.size > 0}">
					<div class="item w3-border">
						작성 중인 세부 일정이 없습니다.
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Plan Detail Table END -->

	<!-- 세부 일정 입력 폼 (Period Form) -->
	<form th:action="@{second}" method="post" th:object="${planDetailDTO}" onsubmit="return detailPlanSubmit()">

		<div class="w3-card w3-round w3-padding">
			<h3>세부 일정 시작 시간을 선택하세요!</h3>

			<select name="startYear" id="startYear" th:field="*{startYear}">
				<option value="">연도</option>
			</select>
			<label for="startYear" class="w3-margin-right">년</label>

			<select name="startMonth" id="startMonth" th:field="*{startMonth}">
				<option value="">월</option>
			</select>
			<label for="startMonth" class="w3-margin-right">월</label>

			<select name="startDay" id="startDay" th:field="*{startDay}">
				<option value="">일</option>
			</select>
			<label for="startDay" class="w3-margin-right">일</label>

			<select name="startTime" id="startTime" th:field="*{startTime}">
				<option value="">시각</option>
			</select>
			<label for="startTime">시</label>

			<br> <br>

			<p th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}" class="error-message"></p>
			<p th:if="${#fields.hasErrors('startMonth')}" th:errors="*{startMonth}" class="error-message"></p>
			<p th:if="${#fields.hasErrors('startDay')}" th:errors="*{startDay}" class="error-message"></p>
			<p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="error-message"></p>

			<br> <br>

			<h3>세부 일정 종료 시간을 선택하세요!</h3>

			<select name="endYear" id="endYear" th:field="*{endYear}">
				<option value="">연도</option>
			</select>
			<label for="endYear" class="w3-margin-right">년</label>

			<select name="endMonth" id="endMonth" th:field="*{endMonth}">
				<option value="">월</option>
			</select>
			<label for="endMonth" class="w3-margin-right">월</label>

			<select name="endDay" id="endDay" th:field="*{endDay}">
				<option value="">일</option>
			</select>
			<label for="endDay" class="w3-margin-right">일</label>

			<select name="endTime" id="endTime" th:field="*{endTime}">
				<option value="">시각</option>
			</select>
			<label for="endTime">시</label>

			<br> <br>

			<p th:if="${#fields.hasErrors('endYear')}" th:errors="*{endYear}" class="error-message"></p>
			<p th:if="${#fields.hasErrors('endMonth')}" th:errors="*{endMonth}" class="error-message"></p>
			<p th:if="${#fields.hasErrors('endDay')}" th:errors="*{endDay}" class="error-message"></p>
			<p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="error-message"></p>
		</div>

		<div class="w3-card w3-row w3-padding w3-center">
			<label for="select_place">장소 선택</label>
			<input type="radio" id="select_place" name="select_type"
				   value="place" onclick="selectType(this)" checked>

			<span style="margin: 0 10%;"></span>

			<label for="select_traffic">교통편 선택</label>
			<input type="radio" id="select_traffic" name="select_type"
				   value="traffic" onclick="selectType(this)">
		</div>

		<div class="w3-card w3-row w3-padding show_and_hide_item show_item" id="place">
			<div class="w3-col s6 w3-padding w3-border-right">
				<label for="place_search">장소 검색: </label>
				<input type="text" class="w3-input"
					   style="width: 50%; display: inline"
					   id="place_search" placeholder="검색하세요">
				<button type="button"
						id="place_search_button"
						class="w3-button w3-border w3-indigo
						w3-hover-white w3-hover-text-indigo w3-hover-border-indigo">
					검색
				</button>
				<div class="map" id="map"></div>
			</div>
			<div class="w3-col s6 w3-center w3-padding">
				<input type="hidden" th:field="*{area.address}">
				<input type="hidden" th:field="*{area.placeName}">
				<div id="place_name">선택 장소 명</div>

				<br>

				<div>평균 예산</div>
				<div id="place_budget">정보 없음</div>

				<br>

				<div>평균 별점</div>
				<div id="place_rating">정보 없음</div>

				<br>

				<div>추천지 리스트</div>
				<div class="w3-row" id="recommend_place">
					<div class="w3-col s4 w3-border">추천지 1</div>
					<div class="w3-col s4 w3-border">추천지 2</div>
					<div class="w3-col s4 w3-border">추천지 3</div>
				</div>
			</div>
		</div>

		<div class="w3-card w3-row show_and_hide_item hide_item" id="traffic">
			<input type="hidden" th:field="*{traffic.info}">
			<input type="hidden" th:field="*{traffic.org}">
			<input type="hidden" th:field="*{traffic.des}">
			<div class="map w3-col s3 w3-border-right w3-padding"
				 th:insert="~{/fragment/map :: google_place('traffic_start', ${googleMapAPIKey}) }">
				<div>출발지</div>
			</div>
			<div class="map w3-col s3 w3-border-right w3-padding"
				 th:insert="~{/fragment/map :: google_place('traffic_end', ${googleMapAPIKey}) }">
				<div>도착지</div>
			</div>
			<div class="map w3-col s6 w3-padding">
				<button type="button" class="w3-button w3-round w3-border w3-border-indigo w3-indigo
						w3-hover-white w3-hover-border-indigo w3-hover-text-indigo"
						style="transition: .3s;"
						id="direction_search">교통편 검색</button>
				<!-- 교통편 검색 결과 목록 -->
				<div id="direction_result"></div>
			</div>
		</div>

		<div class="w3-card w3-padding">
			<label for="budget">예상 지출액: </label>
			<input type="text" class="w3-input" style="width: 80%; margin-left: 1rem; display: inline"
				   id="budget" name="budget" maxlength="9">
		</div>

		<div class="w3-card w3-padding">
			<label for="memo">해당 일정에 대한 메모를 입력해주세요! <br></label>
			<textarea name="memo" id="memo" class="w3-input w3-border" cols="40" rows="8" style="resize: none;"></textarea>
		</div>

		<br> <br> <br>

		<div class="w3-card sidebar-plan w3-white">

			<div class="w3-container">
				<p>1. 전체 일정 고르기</p>
				<b>2. 세부 일정 쌓기</b>
				<p>3. 글 작성하기</p>
			</div>

			<input type="button" class="w3-button w3-round w3-border"
				   value="이전 단계로" onclick="location.href='first'">
			<br>
			<input type="submit" class="w3-button w3-round w3-border"
				   value="일정 추가 작성">
			<br>
			<input type="button" class="w3-button w3-round w3-border"
				   value="다음 단계로" onclick="location.href='third'">

		</div>

	</form>


	<!-- Script -->
	<!-- 장소 / 교통편 선택 -->
	<script>
		const item1 = document.getElementById("place");
		const item2 = document.getElementById("traffic");

		function selectType(item) {
			if (item.value === "place") {
				item1.classList.add("show_item");
				item1.classList.remove("hide_item");

				item2.classList.add("hide_item");
				item2.classList.remove("show_item");

				return;
			}

			if (item.value === "traffic") {
				item2.classList.add("show_item");
				item2.classList.remove("hide_item");

				item1.classList.add("hide_item");
				item1.classList.remove("show_item");
			}
		}

		// 서브밋 메서드
		function detailPlanSubmit() {
			// 장소 선택
			if (document.getElementById("select_place").checked === true) {
				document.getElementById("traffic.org").value = null;
				document.getElementById("traffic.des").value = null;
				document.getElementById("traffic.info").value = null;
			// 교통편 선택
			} else {
				document.getElementById("area.address").value = null;
				document.getElementById("area.placeName").value = null;

				document.getElementById("traffic.org").value
						= document.getElementById("traffic_start_result").innerText;
				document.getElementById("traffic.des").value
						= document.getElementById("traffic_end_result").innerText;
				document.getElementById("traffic.info").value
						= document.getElementById("route_"
							+ parseInt(document.querySelector('input[name = "traffic_info_check"]:checked').value)).value;
			}
			return true;
		}
	</script>

	<!-- 세부 일정 기간 설정 -->
	<script th:inline="javascript">
		document.addEventListener('keydown', function(event) {
			if (event.keyCode === 13) {
				event.preventDefault();
			}
		}, true);

		function detailPlanDropDown() {
			const table = document.getElementById("detail_plan_table");
			if (table.className.indexOf("w3-show") === -1) {
				table.className += " w3-show";
			} else {
				table.className = table.className.replace(" w3-show", "");
			}
		}
		class App {
			constructor() {
				this.idStartYear = document.getElementById("startYear");
				this.idStartMonth = document.getElementById("startMonth");
				this.idStartDay = document.getElementById("startDay");
				this.idStartTime = document.getElementById("startTime")

				this.idEndYear = document.getElementById("endYear");
				this.idEndMonth = document.getElementById("endMonth");
				this.idEndDay = document.getElementById("endDay");
				this.idEndTime = document.getElementById("endTime")

				const now = new Date();
				this.years = this.range(now.getFullYear(), now.getFullYear() + 1);
				this.valueAppendChildTo(this.idStartYear, this.years);
				this.valueAppendChildTo(this.idEndYear, this.years);

				this.times = this.range(1, 24);
				this.valueAppendChildTo(this.idStartTime, this.times);
				this.valueAppendChildTo(this.idEndTime, this.times);

				this.idStartYear.addEventListener('change', this.changeMonthByYear.bind(this));
				this.idStartMonth.addEventListener('change', this.changeDayByMonth.bind(this));

				this.idEndYear.addEventListener('change', this.changeEndMonthByYear.bind(this));
				this.idEndMonth.addEventListener('change', this.changeEndDayByMonth.bind(this));
			}

			range(start, end) {
				return Array(end - start + 1).fill(start).map((x, y) => x + y)
			}

			valueAppendChildTo(target, values) {
				target.options.length = 1;
				for (const value in values) {
					if (values.hasOwnProperty(value)) {
						const option = document.createElement("option");
						option.text = values[value].toString();
						option.value = (values[value] - 1).toString();
						target.appendChild(option)
					}
				}
			}

			changeMonthByYear(event) {
				if (!isNaN(event.target.value) || event.target.value === "") {
					const now = new Date();
					let months;
					// 연이 같으면 이번 달 부터 출력
					if (now.getFullYear() === parseInt(event.target.value)) {
						months = this.range(now.getMonth() + 1, 12);
					} else {
						months = this.range(1, 12);
					}
					this.valueAppendChildTo(this.idStartMonth, months);
				}
			}

			changeDayByMonth(event) {
				if (!isNaN(event.target.value) || event.target.value === "") {
					const selectYear = parseInt(this.idStartYear.value);
					const selectMonth = parseInt(event.target.value);
					const now = new Date();
					let days;
					// 연, 월이 같으면 오늘 날짜부터 출력
					// 월의 경우 0 ~ 11이므로 +1부터 비교
					if (now.getFullYear() === selectYear
							&& (now.getMonth() + 1) === selectMonth) {
						days = this.range(now.getDate(), this.getLastDay(selectYear, selectMonth) + 1)
					} else {
						days = this.range(1, this.getLastDay(selectYear, selectMonth) + 1)
					}

					this.valueAppendChildTo(this.idStartDay, days);
				}
			}

			changeEndMonthByYear(event) {
				if (!isNaN(event.target.value) || event.target.value === "") {
					const now = new Date();
					let months;
					// 연이 같으면 이번 달 부터 출력
					if (now.getFullYear() === parseInt(event.target.value)) {
						months = this.range(now.getMonth() + 1, 12);
					} else {
						months = this.range(1, 12);
					}
					this.valueAppendChildTo(this.idEndMonth, months);
				}
			}

			changeEndDayByMonth(event) {
				if (!isNaN(event.target.value) || event.target.value === "") {
					const selectYear = parseInt(this.idEndYear.value);
					const selectMonth = parseInt(event.target.value);
					const now = new Date();
					let days;
					// 연, 월이 같으면 오늘 날짜부터 출력
					// 월의 경우 0 ~ 11이므로 +1부터 비교
					if (now.getFullYear() === selectYear
							&& (now.getMonth() + 1) === selectMonth) {
						days = this.range(now.getDate(), this.getLastDay(selectYear, selectMonth) + 1)
					} else {
						days = this.range(1, this.getLastDay(selectYear, selectMonth) + 1)
					}

					this.valueAppendChildTo(this.idEndDay, days);
				}
			}

			getLastDay(year, month) {
				return new Date(year, month, -1).getDate()
			}
		}

		window.onload = () => new App();

	</script>

	<!-- Google Direction API -->
	<script>
		document.getElementById("direction_search")
				.addEventListener('click', () => {
					const requestParam = {
						org: document.getElementById("traffic_start_place_id").innerText,
						des: document.getElementById("traffic_end_place_id").innerText
					};
					$.ajax({
						url: "/area/direction",
						type: "GET",
						dataType: "text",
						data: requestParam,
						success: function(res) {
							if (res === null || res.trim() === "") {
								alert("검색 결과가 없습니다.");
							} else {
								document.getElementById("direction_result").innerText = "";
								const result = JSON.parse(res);
								console.log(result);
								for (route in result.routes) {
									if (result.routes.hasOwnProperty(route)) {

										// 제목과 메인 경로 태그 (클릭시 드롭다운)
										const routeTag = document.createElement("div");
										routeTag.id = "route_" + route;

										const routeNameTag = document.createElement("div");
										routeNameTag.classList.add("w3-button");
										routeNameTag.innerText
												= (parseInt(route) + 1) + ". "
												+ result.routes[route].legs[0].departure_time.text
												+ " ~ "
												+ result.routes[route].legs[0].arrival_time.text;
										routeTag.appendChild(routeNameTag)

										// 라디오 버튼
										const radio = document.createElement("input");
										radio.type = "radio";
										radio.name = "traffic_info_check";
										radio.id = "traffic_info_check_" + route;
										radio.value = route;
										radio.style.marginLeft = "1rem";
										if (route === '0') {
											radio.checked = true;
										}
										routeNameTag.appendChild(radio);

										// 경로 절차를 묶을 태그
										const stepsTag = document.createElement("div");
										stepsTag.id = route + "_steps";
										stepsTag.classList.add("steps");
										stepsTag.style.overflowY = "scroll";
										stepsTag.style.maxHeight = "200px";
										routeTag.appendChild(stepsTag);

										// 제목 클릭 이벤트를 추가
										routeNameTag.addEventListener('click', () => {
											if (stepsTag.classList.contains("show_steps")) {
												stepsTag.classList.remove("show_steps");
											} else {
												stepsTag.classList.add("show_steps");
											}
										});

										// 경로 태그들
										for (step in result.routes[route].legs[0].steps) {
											if (result.routes[route].legs[0].steps.hasOwnProperty(step)) {
												// 경로 태그 생성 후 stepts 태그에 append
												const stepTag = document.createElement("div");
												stepTag.innerText = step + ". "
														+ result.routes[route].legs[0].steps[step].html_instructions;
												stepsTag.appendChild(stepTag);
											}
										}

										// 최종적으로 보여줄 태그에 append
										document.getElementById("direction_result").appendChild(routeTag);
									}
								}
							}
						}
					});
				});
	</script>

	<!-- Google Map API -->
	<script async
			th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapAPIKey} + '&libraries=places&callback=initMap'}">
	</script>
	<script>
		const placeSearch = document.getElementById("place_search");
		const placeName = document.getElementById("place_name");
		const placeBudget = document.getElementById("place_budget");
		const placeRating = document.getElementById("place_rating");

		let map;
		let service;

		function initMap() {

			const seoul = { lat: 37.552, lng: 126.991 };
			const map = new google.maps.Map(document.getElementById("map"), {
				zoom: 12,
				center: seoul,
			});
			let service = new google.maps.places.PlacesService(map);

			document.getElementById("place_search_button")
					.addEventListener('click', () => {
						service.findPlaceFromQuery({
							query: placeSearch.value,
							fields: ['formatted_address', 'name', 'geometry', 'place_id']
						}, function(results, status) {
							if (status === google.maps.places.PlacesServiceStatus.OK) {
								console.log(results[0].geometry.location.lat());
								console.log(results[0].geometry.location.lng());
								placeName.innerText = results[0].formatted_address + "\n" + results[0].name;
								map.setCenter(results[0].geometry.location);
								document.getElementById("area.address").value = results[0].formatted_address;
								document.getElementById("area.placeName").value = results[0].name;
										$.ajax({
									url: "/area/summary",
									type: "POST",
									dataType: 'text',
									data: {
										"address": results[0].formatted_address,
										"placeName": results[0].name
									},
									success: function(res) {
										const summary = JSON.parse(res);
										if (!isNaN(summary.budgetAvg)) {
											placeBudget.innerText = summary.budgetAvg.toFixed(2) + "원";
										} else {
											placeBudget.innerText = "정보 없음";
										}

										if (!isNaN(summary.ratingAvg)) {
											placeRating.innerText = summary.ratingAvg.toFixed(2);
										} else {
											placeRating.innerText = "정보 없음";
										}
									},
									error: function() {
										alert("에러!");
									}
								});
							} else {
								alert("검색 결과가 없습니다.");
							}
						});
					});
		}

		function createMarker(place) {
			if (!place.geometry || !place.geometry.location) return;
			const marker = new google.maps.Marker({
				map,
				position: place.geometry.location,
			});
			google.maps.event.addListener(marker, "click", () => {
				infowindow.setContent(place.name || "");
				infowindow.open(map);
			});
		}
	</script>
<!--	<script th:inline="javascript" th:src="@{script/google_map.js}"></script>-->
</section>

</body>
</html>